<template>
  <div v-if="loaded" class="information">
    <h1>Información de su cuenta</h1>
    <h2>
      Nombre: <span>{{ first_name }}</span>
    </h2>
    <h2>
      Apellido: <span>{{ last_name }}</span>
    </h2>
    <h2>
      Teléfono: <span>{{ phone }}</span>
    </h2>
    <h2>
      Dirección: <span>{{ address }}</span>
    </h2>
    <h2>
      Apellido: <span>{{ degree }}</span>
    </h2>
    
    <h2>
      Correo electrónico: <span>{{ email }}</span>
    </h2>
  </div>
</template>


<script>
import jwt_decode from "jwt-decode";
import axios from "axios";

const local = "http://127.0.0.1:8000/";
const heroku = "https://sieapp.herokuapp.com/";
export default {
  name: "Docente",

  data: function () {
    return {
      first_name: "",
      last_name: "",
      email: "",
      phone: "",
      address: "",
      degree: "",
      loaded: false,
    };
  },

  methods: {
    getData: async function () {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }

      await this.verifyToken();

      let token = localStorage.getItem("token_access");
      let userId = jwt_decode(token).user_id.toString();

      axios
        .get(`${heroku}user/${userId}/`, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          this.first_name = result.data.first_name;
          this.last_name = result.data.last_name;
          this.email = result.data.email;
          this.phone = result.data.docente.phone;
          this.address = result.data.docente.address;
          this.degree = result.data.docente.degree;
          this.loaded = true;
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },

    verifyToken: function () {
      return axios
        .post(
          `${heroku}refresh/`,
          { refresh: localStorage.getItem("token_refresh") },
          { headers: {} }
        )
        .then((result) => {
          localStorage.setItem("token_access", result.data.access);
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
  },

  created: async function () {
    this.getData();
  },
};
</script>


<style>
.information {
  margin: 0;
  padding: 0%;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information h1 {
  font-size: 60px;
  color: #000000;
}

.information h2 {
  font-size: 40px;
  color: #000000;
}

.information span {
  color: crimson;
  font-weight: bold;
}
</style>