<template>
  <div class="signUp_user">
    <div class="container_signUp_user">
      <h2>Registrarse</h2>

      <form v-on:submit.prevent="processSignUp">
        <input type="text" v-model="user.username" placeholder="Username" />
        <br />

        <input type="password" v-model="user.password" placeholder="Password" />
        <br />

        <input type="text" v-model="user.first_name" placeholder="First Name" />
        <br />

        <input type="text" v-model="user.last_name" placeholder="Last Name" />
        <br />

        <input type="email" v-model="user.email" placeholder="Email" />
        <br />

        <input type="text" v-model="user.docente.phone" placeholder="Phone" />
        <br />

        <input type="text" v-model="user.docente.degree" placeholder="Degree" />
        <br />

        <input type="text" v-model="user.docente.address" placeholder="Address" />
        <br />

        <button type="submit">Registrarse</button>
      </form>
    </div>
  </div>
</template>




<script>
import axios from "axios";

const local = "http://127.0.0.1:8000/";
const heroku = "https://sieapp.herokuapp.com/";

export default {
  name: "SignUp",

  data: function () {
    return {
      user: {
        username: "",
        password: "",
        first_name: "",
        last_name: "",
        email: "",
        docente: {
          lastChangeDate: new Date().toJSON().toString(),
          isActive: true,
          phone: "",
          degree: "",
          address: "",
        },
      },
    };
  },

  methods: {
    processSignUp: function () {
      axios
        .post(heroku, this.user, { headers: {} })
        .then((result) => {
          let dataSignUp = {
            username: this.user.username,
            token_access: result.data.access,
            token_refresh: result.data.refresh,
          };

          this.$emit("completedSignUp", dataSignUp);
        })
        .catch((error) => {
          console.log(error);
          alert("ERROR: Fallo en el registro.");
        });
    },
  },
};
</script>


<style>
.signUp_user {
  margin: 0;
  padding: 0%;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container_signUp_user {
  border: 3px solid #000000;
  border-radius: 10px;
  width: 25%;
  height: 95%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUp_user h2 {
  color: #000000;
}

.signUp_user form {
  width: 70%;
}

.signUp_user input {
  height: 40px;
  width: 100%;

  box-sizing: border-box;
  padding: 10px 20px;
  margin: 5px 0;

  border: 1px solid #000000;
}

.signUp_user button {
  width: 100%;
  height: 40px;

  color: #000000;
  background: #FFDE59;
  border: 2px solid #000000;

  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px 0 25px 0;
}

.signUp_user button:hover {
  color: #000000;
  background: #5CE1E6;
  border: 2px solid #000000;
}
</style>